.middle-container {
  background-color: rgb(249, 249, 249);
  text-align: center;
  position: relative;
  height: 50vh;
}
.search-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  position: absolute;
  background-color: #6a7c94;
  align-self: center;
  margin-left: 25%;
 margin-top: 5px;
  border: 1px solid black;

  border-radius: 10px;
}
.view-button {
  border: none;
  border-radius: 5px;
}

.lastupdate {
  font-family: "Georgia", Georgia, "Palatino Linotype", Palatino, "Palatino",
    "Times New Roman", Times, serif;
  /* padding: 3em 0 0;
  padding-left: 6rem;
  margin-bottom: 2rem; */
  background-color: white;
}
@media only screen and (max-width: 541px) {
  .middle-container {
    margin-top: -13rem;
  }
}
@media only screen and (max-width: 390px) {
  .middle-container {
    margin-top: -14.5rem;
  }
}

@media only screen and (max-width: 376px) {
  .middle-container {
    margin-top: -17rem;
  }
  /* .lastupdate{
    margin-top: -6rem;
    position: absolute;
  } */
}
/* View details after validation */
.input-data-cont {
  display: flex;
  flex-direction: row;
}
.input-box {
  border: none;
  padding: 10px;
  border-radius: 1px;
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
}
.button-submit {
  background-color: rgb(224, 223, 223);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}
.view-details-cont {
  position: absolute;
  margin-top: 10rem;
 margin-left: -2rem;
  display: flex;
  flex-direction: column;
  
}
.name-data-cont {
  display: flex;
  flex-direction: row;
  margin-bottom: -0.5rem;
  text-align: left;
}
.name-data-cont button{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(224, 223, 223);
}
.name-head{
  font-weight: bold;
  color: rgb(157, 28, 28);
  margin-right: 10px;
}